<!-- src/app/sidebar/sidebar.component.html -->

<div class="sidebar-wrapper">
  <div class="logo">
    <a class="simple-text logo-mini" href="http://angulararchitects.io">
      <div class="logo-image-small">
        <img src="assets/paper-design/angular2-logo.png">
      </div>
    </a>
    <a class="simple-text logo-normal" href="http://angulararchitects.io">
      Flights 42
    </a>
  </div>
  <ul class="nav">

    <li routerLinkActive="active">
      <a routerLink="home">
        <p>Home</p>
      </a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="flight-search">
        <p>Flights</p>
      </a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="passenger-search">
        <p>Passengers</p>
      </a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="about">
        <p>About</p>
      </a>
    </li>

  </ul>
</div>

